{% extends 'base.html.twig' %}
{% block title %}Top GitHub Projects{% endblock title %}
{% block body %}
    <div class="container-fluid">
        <table id="projects" class="table">
            <caption>Top GitHub Projects by stars</caption>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">URL</th>
                <th scope="col">Created Date</th>
                <th scope="col">Last Push</th>
                <th scope="col">Stars</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td scope="row" data-label="ID">{{ project.id }}</td>
                    <td data-label="Name">{{ project.name }}</td>
                    <td data-label="Description">{{ project.description }}</td>
                    <td data-label="URL"><a href="{{ project.url }}" target="_blank">{{ project.url }}</a></td>
                    <td data-label="Created">{{ project.createdDate|date }}</td>
                    <td data-label="Last Push">{{ project.lastPushDate|date }}</td>
                    <td data-label="Stars">{{ project.stars }}</td>
                    <td>{{ project.createdDate|date("Y/m/d") }}</td>
                    <td>{{ project.lastPushDate|date("Y/m/d") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/victr.js') }}" ></script>
{% endblock javascripts %}