body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th, table td {
    padding: .625em;  
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
}
table td {
    max-width: 0;
    overflow: hidden;
    text-overflow: clip;
}

@media screen and (max-width: 900px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table th {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: left;
        width: auto !important; /*override the inline static widths used in desktop view*/
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        max-width: inherit;
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 10px;
    }

    table td:last-child {
        border-bottom: 0;
    }

    .mobile-hide {
        display: none;
    }
}